* {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.618;
    font-weight: 400;
  }
  
  
  
  #titel2{
      display: none;
  }
  #titel3{
      display: none;
      color: #580e0e
      
      
  }
  
  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 1s infinite;
     -moz-animation: flickerAnimation 1s infinite;
     -o-animation: flickerAnimation 1s infinite;
      animation: flickerAnimation 1s infinite;
  }
  
  body {
    background-color: #2f3238;
    color: #f5f5f5;
  }
  
  a {
    color: #1abc89;
  }
  
  a:hover {
    opacity: .8;
  }
  
  p {
    font-size: 1.6rem;
    color: rgba(245, 245, 245, 0.5);
      display: inline;
  }
  
  .small {
    font-size: 1rem;
    margin-top: 1em;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  
  header {
    text-align: center;
    padding-bottom: 3rem;
  }
  
  h1 {
    font-size: 2.6rem;
    line-height: 1.2em;
    padding-bottom: 1rem;
    font-weight: 600;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      
  }
  
  
  text {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-anchor: middle;
    letter-spacing: 1px;
    font-weight: 600;
  }
  
  /* .svg-text {
    fill: #545a64;
      
  } */
  
  /* .svg-masked-text {
    fill: white;
  } */
  
  image {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      
      
  }
  
  .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 27vh;
    height: 27vh;
    margin: 5px;
    cursor: pointer;
    background-color: #3b3e46;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
      
      
  }

  
  .item:hover image {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  
  /* button {
    width: 12px;
    height: 12px;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
  }
  button.dark {
    background-color: #2f3238;
  }
  button.light {
    background-color: #f9f9f9;
  } */
  
  /* .options {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .options button {
    margin-left: .5rem;
  }
  
  .light {
    background-color: #f9f9f9;
    color: #1a1a1a;
  }
  .light p {
    color: rgba(26, 26, 26, 0.5);
  }
  .light .item {
    background: #f5f5f5;
  }
  .light .svg-text {
    fill: rgba(0, 0, 0, 0.1);
  } */



  



.u-cursor-pointer {
	cursor: pointer;
}

.c-desktop{
	display: flex;
	height: 100vh;
	background-color: #E2E3E7;
    background-image: url("../img/0.png");
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: center;
}

.c-desktop-container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(7, 1fr);
	column-gap: 10px;
	row-gap: 10px;
	justify-items: start;
	grid-auto-flow: column;
}

.c-desktop-img{
	grid-column-start: 13;
	grid-column-end: 15;
	grid-row-start: 1;
	grid-row-end: 3;
	margin-top: 2rem;
	transform: rotate(-10deg);
}

.c-desktop-icon{
	width: 100%;
	height: 100%;
}

.c-desktop-icon:hover{
	border: 1px dashed rgb(3, 116, 182);
}

.c-desktop-icon a{
	text-decoration: none;
	color:#000
}

.c-desktop-icon-content{
	padding-top: 25%;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}

.c-desktop-icon-content p{
	text-align: center;
}

.c-desktop-icon-content img{
	min-height: 48px;
	fill: #186828;
}

.c-help-container{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	position: absolute;
	bottom: 40px;
    right: 50px;
    z-index: 100;
}

.c-help-2 a{
	padding: 0;
}

.c-help-text-2 p{
	padding: 12px;
}

.c-help-text-2{
	display: none;
	align-self: end;
	width: 350px;

}

.c-help-text-2 .c-help-text-bubble p{
  display: block;
  font-size: 16px;
  padding: -12px;
  margin-left: 20px;
  color: #000;
}

.c-help-text-2 .c-help-text-bubble{
	position: relative;
	bottom: 20px;
	height: 100%;
  border-radius: 20px;
  background-color: #FFF;
	border: solid #8a8a8a;
}

.c-help-text-2 .c-help-text-bubble:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #5a5a5a;
	border-bottom: 0;
	border-right: 0;
	margin-left: 35%;
	margin-bottom: -25px;
}