body{
    background-image: url("../img/hacker-background.jpg");
    background-size: contain;
    width: 99%;
}

.puzzle-container{
    display: flexbox;
    margin: auto;
    width: 1000px;
    height: 500px;
    background-color: darkgreen;
    border: dotted black 2px;
    margin-top: 200px;
}

img, #patternLock{
    display: flex;
    margin: auto;
}

img{
    margin-top: 9%;
}

.fix{
    width: 100%;
    margin-top: 2rem;
}
