body{
    background-color: green;
    height: 100%;
}

div{
    display: flexbox;
    width: 100%;
}

p{
    display: flex;
    margin: auto;
    font-size: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-top: 20rem;
}